<!DOCTYPE html>

<html>
    <head th:replace="~{layout/plantilla-login :: head}"></head>
    <body class="d-flex flex-column min-vh-100">

        <nav class="navbar bg-dark navbar-dark navbar-extend p-2">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 fw-bold" th:href="@{/}">
                    <i class="fa-solid fa-dumbbell mx-2"></i> Work Hard, Gain Hard
                </a>
            </div>
        </nav>

        <section class="container-fluid d-flex flex-grow-1 px-0">
            <div class="col">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg" class="img-fluid" style="object-fit: cover; height: 100%">
            </div>
            <div class="col d-flex align-items-center">
                <div class="container-fluid d-flex flex-column">
                    <form class="pb-5 border-bottom px-5" th:action="@{/}" method="GET">
                        <div class="text-center fw-bold" style="font-size: 10vh">Legends Workout</div>
                        <h2 class="mb-5 text-center">Registro de Usuario</h2>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control" placeholder="Nombre" name=""/>
                                    <label class="form-label">Nombre</label>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control" placeholder="Apellidos" name=""/>
                                    <label class="form-label">Apellidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-7">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control" placeholder="Correo" name=""/>
                                    <label class="form-label">Correo Electrónico</label>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group form-floating">
                                    <select id="gender" class="form-control" >
                                        <option value="" selected disabled>Seleccione su género</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Otro</option>
                                        <option value="Otro">Prefiero no decir</option>
                                    </select>
                                    <label for="gender" class="form-label">Género</label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group form-floating mb-4">
                            <input type="password" class="form-control" placeholder="Contraseña" name="" />
                            <label class="form-label">Contraseña</label>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                    <a class="mt-4 text-center under" th:href="@{/}">¿Ya tenés una cuenta? <br> ¡Inicia sesión! </a>
                </div>
            </div>
        </section>

    </body>
</html>
