<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/fragmentos-generales :: head}"></head>

    <body class="bg-dark text-white">
        <section th:replace="~{layout/fragmentos-generales :: navbar}"></section>
        <section th:replace="~{layout/fragmentos-generales :: sidebar-user}"></section> 


        <div class="contenido-pagina bg-dark d-flex flex-column justify-content-center">
            <div class="p-3">
                <a type="button" class="btn btn-outline-secondary" style="color:#a9f41e" th:href="@{/user/estiramientos}">
                    <i class="fas fa-arrow-left" style="color:#a9f41e"></i> 
                </a>
            </div>
            <h1 class="text-center mt-5" style="color: #a9f41e;">Video flexibilidad</h1>
            <div class="container text-center">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/y87vSUoIMGU?si=UpQ2ax13ONpWs5Eo"
                        title="YouTube video player" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div style="max-width: 800px; margin: 0 auto;">
                <p class="fs-5">Los ejercicios de flexibilidad son
                    fundamentales para mantener la amplitud de movimiento en las
                    articulaciones, lo que ayuda a prevenir lesiones, mejora la
                    postura y favorece la circulación sanguínea, 
                    contribuyendo así a la salud y el bienestar general del cuerpo.</p>
            </div>

        </div>
    </body>
</html>
