<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/fragmentos-generales :: head}"></head>

    <body class="bg-dark text-white d-flex flex-column min-vh-100">

        <section th:replace="~{layout/fragmentos-generales :: navbar}"></section>
        <section th:replace="~{layout/fragmentos-generales :: sidebar-user}"></section>  

        <div class="contenido-pagina bg-dark">
            <h1 class="text-center mt-5" style="color: #a9f41e;"> Estiramientos</h1>
            <table class="table table-dark" style="width: 80%; margin: 0 auto;">
                <tr>
                    <td>
                        <a th:href="@{/estiramientos/videoMovilidad}">Movilidad</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/estiramientos/videoEstiramientos}">Estiramientos</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/estiramientos/videoYoga}">Yoga</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/estiramientos/videoFlexibilidad}">Flexibilidad</a>
                    </td>
                </tr>
            </table>
        </div>

        <style>

            /* Estilo para los enlaces dentro de la lista */
            .table a {
                color:white;
            }

            .table tr {
                height: 70px;
            }

            /* Cambia el color del texto de los enlaces cuando se pasa el ratón sobre ellos */
            .table a:hover {
                color: #a9f41e;
            }
        </style>
        
    </body>

</html>
