<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/fragmentos-generales :: head">       
    </head>

    <body class="bg-dark text-white">
        <section th:replace="layout/fragmentos-generales :: navbar"></section>
        <section th:replace="layout/fragmentos-generales :: sidebar-user"></section>

        <h1 style="text-align: center;color: #a9f41e; margin-top: 110px"> Video flexibilidad</h1>
        <div class="container text-center"> 
            <div class="embed-responsive embed-responsive-16by9" style="max-width: 800px; margin: 0 auto;"> 
                <iframe width="800" height="450" src="https://www.youtube.com/embed/y87vSUoIMGU?si=UpQ2ax13ONpWs5Eo" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                        gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="text-container" style="max-width: 800px; margin: 0 auto;">
                <p style="font-size: 16px;">Los ejercicios de flexibilidad son
                    fundamentales para mantener la amplitud de movimiento en las
                    articulaciones, lo que ayuda a prevenir lesiones, mejora la
                    postura y favorece la circulación sanguínea, 
                    contribuyendo así a la salud y el bienestar general del cuerpo.</p>
            </div>
            <a href="estiramientos_user">
                <button type="button" class="btn btn-outline-secondary" style="color:#a9f41e">
                    <i class="fas fa-arrow-left" style="color:#a9f41e"></i> 
                </button>
            </a>

        </div>
    </body>

</html>
