<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/fragmentos-generales :: head}"></head>

    <body class="bg-dark text-white">
        <section th:replace="~{layout/fragmentos-generales :: navbar}"></section>
        <section th:replace="~{layout/fragmentos-generales :: sidebar-user}"></section> 


        <div class="contenido-pagina bg-dark d-flex flex-column justify-content-center">
            <div class="p-3">
                <a type="button" class="btn btn-outline-secondary" style="color:#a9f41e" th:href="@{/estiramientos/inicio}">
                    <i class="fas fa-arrow-left" style="color:#a9f41e"></i> 
                </a>
            </div>
            <h1 class="text-center mt-5" style="color: #a9f41e;"th:text="#{videosMovibilidad.titulo}"> Video Movilidad</h1>
            <div class="container text-center">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/5aAkskctYGY?si=ItJITk-HxpArosNZ"
                        title="YouTube video player" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div style="max-width: 800px; margin: 0 auto;">
                <p class="fs-5" th:text="#{videosMovibilidad.descripcion}">Prepara tu cuerpo con movilidad antes del ejercicio. 
                    ¡Optimiza tu rendimiento y reduce el riesgo de lesiones con estos breves 
                    ejercicios!</p>
            </div>

        </div>
    </body>
</html>
