<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/fragmentos-generales :: head}"></head>

    <body class="bg-dark text-white d-flex flex-column min-vh-100">

        <section th:replace="~{layout/fragmentos-generales :: navbar}"></section>
        <section th:replace="~{layout/fragmentos-generales :: sidebar-admin}"></section>  
        
        <section class="contenido-pagina bg-dark text-light" style="min-height: 94.2vh;">

        <div class="mt-3 " style="max-width: 50%">
            <p class="border-bottom border-2 mx-5 p-3 pb-2 fs-5" th:text="#{rutinasAdmin.seleccioneUsuario}">Seleccione un usuario para administrar sus rutinas</p>
        </div>

        <div class="container-fluid p-5">

            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card text-dark rounded-0 ">
                        <div class="card-header h5 text-center p-2" th:text="#{rutinasAdmin.nombreUsuario}">
                            Nombre de Usuario
                        </div>
                        <div class="card-body">
                            <form class="p-2">
                                <div class="form-group mb-2">
                                    <label th:text="#{rutinasAdmin.correoElectronico}">Correo Electrónico</label>
                                    <input type="text" class="form-control" th:placeholder="#{rutinasAdmin.correoPlaceholder}" readonly />
                                </div>
                                <div class="form-group mb-2 pb-4 border-bottom border-2">
                                    <label th:text="#{rutinasAdmin.genero}">Género</label>
                                    <input type="text" class="form-control" th:placeholder="#{rutinasAdmin.generoPlaceholder}" readonly />
                                </div>
                                <div class="container px-0">
                                    <a th:href="@{/admin/rutinas/usuario}" class="btn btn-primary w-100" th:text="#{rutinasAdmin.comenzar}">Comenzar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
        
    </body>
    
</html>
